// Body
$body-bg: #f8fafc;
$grid-row-gap: 2rem;

// Typography
$font-family-sans-serif: opensans, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$heading-size: 15pt;
$main-font-size: 12pt;
$meta-font-size: 10pt;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$wordpressBlue: #0073aa;
$textColorMain: black;
$textColorContrast: white;
$newNotificationColor: cadetblue;
$neutral: #E8E8E8;

$windowsStyleGradient: linear-gradient(to bottom, #f7f7f7 0%,#efefef 49%,#cccccc 50%,#e0e0e0 100%);

// Margins and padding
$buttonsNextToEachOtherMarginSize: 10px;

// Borders
$borderStyleButtons: 5em;

// Media query breakpoint
$large: 1119px;
$medium: 991px;

// Blog post comment
$commentImageWidth: 70px;
$commentImageWidthAndContentHeightDifference: 9px;
