@mixin link-button-big($color, $padding, $hoverColor) {
    border-radius: $borderStyleButtons;
    border: 1px solid $color;
    padding: $padding;
    &:hover, &:focus {
        background-color: $color;
        color: $hoverColor;
    }
}

@mixin unstyle-button {
    background: none;
    padding: 0;
    border: none;
    cursor: pointer;
    outline: none;
}

@mixin unstyle-input-field {
    border: none;
    outline: none;
}

@mixin heading($isBold: false) {
    font-size: $heading-size;
    @if $isBold {
        font-weight: bold;
    }
}
