@mixin link-button-big($color, $padding, $hoverColor) {
    border-radius: $borderStyleButtons;
    border: 1px solid $color;
    padding: $padding;
    &:hover, &:focus {
        background-color: $color;
        color: $hoverColor;
    }
}

@mixin unstyle-button {
    background: none;
    padding: 0;
    border: none;
    cursor: pointer;
    outline: none;
}

@mixin unstyle-input-field {
    border: none;
    outline: none;
}

@mixin heading($isBold: false) {
    font-size: $heading-size;
    @if $isBold {
        font-weight: bold;
    }
}

@mixin input-main {
    @include unstyle-input-field;
    margin-top: 0.4em;
    margin-bottom: 1em;
    border: solid 3px $wordpressBlue;
    height: 2em;
    &:focus {
        border-color: color.scale($wordpressBlue, $lightness: 35%);
    }
}
