h1 {
  text-align: center;
  margin-bottom: 20px;
}

#posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 40px;
}

#posts .post {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px black;
  border-radius: 5px;
  padding: 5px;
}

#posts .post .post-title,
#posts .post .post-author {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

#posts .post a:last-child {
  align-self: flex-end;
}

#posts .post a:last-child img {
  width: 20px;
}

#posts .post a:last-child img:hover {
  transform: rotate(360deg);
  transition: all 1s ease-in-out 0s;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

