@use 'sass:color';

@import '../variables';
@import '../mixins';

body {
    background-image: url('/public/img/repeating-pattern.png');
    background-size: 40px;
}

#content {
    grid-column: 5/9;
    align-self: center;
    #form-container {
        padding: (100vw/96) (100vw/48);
        background-color: rgba($wordpressBlue, 0.7);
        border-radius: 0.5em;
        form {
            display: flex;
            flex-direction: column;
            color: $textColorContrast;
            input {
                @include input-main;
            }
        }
    }
}
// class styles
